*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;

}

#header{
    height: 13%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    /* font-size: large; */
}

#logo{
    height: 70%;
}

#logo img{
    width: 100%;
    height: 100%;
}

#contact{
    text-align: center;
    
}

.icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
}

.icon:hover{
    /* border: 1px solid rgb(226, 255, 255); */
    border-radius: 50%;
    background-color: rgb(226, 255, 255);
    color: rgb(113, 113, 243);
}

#login{
    /* height: 30px;
    width: 70px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login:hover{
    /* border: 1px solid rgb(226, 255, 255); */
    background-color: rgb(226, 255, 255);
    border-radius: 30px;
    color: rgb(113, 113, 243);
}

#try{
    width: 130px;
    height: 40px ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green; 
    border-radius: 5px;
}

#try:hover{
    background-color: rgb(0, 19, 0);
}

.texts{
    color: rgb(0, 0, 147);
    display: flex;
}

.texts:hover{
    color: rgb(113, 113, 243);
}

#fakeheader{
    height: 13%;
    width: 100%;
}

#page1{
    height: 87%;
    width: 100%;
    background-color: wheat;
}

#strip{
    height: 8%;
    width: 100%;
    background-color:rgb(0, 0, 97);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 87%;
    width: 100%;
    background-color: brown;
}