*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;

}

#header{
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: aqua;
    display: flex;
    align-items: center;
}

#texts{
    margin: px;
}

#fakeheader{
    height: 10%;
    width: 100%;
}

#page1{
    height: 90%;
    width: 100%;
    background-color: blueviolet;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: brown;
}