*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gill;
}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;

}

#header{
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    /* font-size: large; */
}

#logo{
    margin: 25px;
    height: 70%;
}

#logo img{
    width: 100%;
    height: 100%;
}

#contact{
    text-align: center;
    margin-left: 50px;
    font-weight: lighter;
}

.texts{
    color: rgb(0, 0, 147);
    margin: 20px;
    display: flex;
}

#fakeheader{
    height: 10%;
    width: 100%;
}

#page1{
    height: 90%;
    width: 100%;
    background-color: blueviolet;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: brown;
}